*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #83ffe7;
    text-align: center;
}

.container{
    height: 70vh; /* 70 percent of viewport height*/
    display: flex; /*come in a single line */
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin; /*60 percent of viewport minimum height */
    width: 60vmin;
    display: flex; /*come in a single line */
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius:3rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
}

#reset{
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}