div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: solid black 2px;
}
p{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: solid black 2px;
}